@media (--xs-min) {
  .product-filter-modal {
    margin-bottom: var(--size-4);
  }

  .product-filter-modal-button {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: 2px solid var(--primary-bg);
    padding: var(--size-2) var(--size-3);

    &:hover {
      background-color: transparent;
      color: var(--primary-bg);
    }
  }

  .product-filter-modal-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--size-4);

    .filter-fieldset {
      margin-bottom: var(--size-4);

      .filter-legend {
        font-size: var(--size-5);
        margin-bottom: var(--size-4);
      }
    }
  }
}
