# Any environment variables in the `.env` file will apply to all environments unless overridden by a more specific environment file. When `make dev` is run, the `NODE_ENV` environment variable is set to `development`, which corresponds to the `.env.development` file. The same is true for the other environment-specific files.

###############
# DEVELOPMENT #
###############
# -----------------
# BigCommerce
# See my notes in the GETTING_STARTED_WITH_BIGCOMMERCE.md file for steps to create the following tokens.
# -----------------
TRUSTED_PROXY_SECRET = 
# NAME / CLIENT NAME: Private Token Generator
ACCESS_TOKEN = 
CLIENT_ID = 
CLIENT_SECRET = 
API_PATH = 
STORE_HASH = 
CHANNEL_ID = 
# Private API Token (aka GraphQL Storefront API token???)
PRIVATE_API_TOKEN = 

# -----------------
# Printful
# -----------------
# Go to https://developers.printful.com/ and create a private token.
# Token name: thega-bigcommerce-integration
# Contact email: samueltremain@gmail.com
# Expiration date: 2 years from today (e.g. Jun 5, 2028)
# Access level: A single store > THEGA (i.e. your BigCommerce store)
# Scopes: Select all scopes
# NOTE: Token expiration is set for 2 years, but I need to set alerts in my calendar to regenerate a new token in 1 year so I don't accidentally go past the expiration.
PRINTFUL_API_TOKEN = 
PRINTFUL_STORE_ID = 

###############
# TEST        #
###############


###############
# STAGING     #
###############


###############
# PRODUCTION  #
###############
