@media (--xs-min) {
  .product-filter-modal {
    margin-bottom: var(--size-4);
  }

  .product-filter-modal-button {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    border: 2px solid var(--primary-bg);
    padding: var(--size-2) var(--size-3);

    &:hover {
      background-color: var(--primary-fg);
      color: var(--primary-bg);
    }
  }
}
