@scope (.product-filter-modal) {
  @media (min-width: 0px) {
    :scope {
      margin-bottom: var(--size-4);
    }

    .product-filter-modal-button {
      display: flex;
      align-items: center;
      gap: var(--size-2);
    }
  }
}
