@media (--xs-min) {
  /* 
  * For most websites, 1080p compressed images are the right size to use. See IMAGE_LOADING_&_PERFORMANCE.md for more info. 
  * Also, I am using CSS background-image instead of Next.js <Image> component because it is easier to position the image and text over the image with CSS background-image. Also, I don't need to lazy load the hero image because it should always render when the user visits the homepage.
  */

  /* @media (--standard-res) {
    .hero-image-container {
      background-image: url("/images/res-standard/hero-image-xs-res-standard-768x800.webp");
    }
  }

  @media (--high-res) {
    .hero-image-container {
      background-image: url("/images/res-high/hero-image-xs-res-high-1536x1600.webp");
    }
  } */

  .hero-image-container {
    /* The height of the hero image is 100vh - the height of the <header> element. */
    height: calc(100vh - 61px);
    background-image: url("/images/backgrounds/hero-image-xs-res-standard-768x800.webp");
    background-repeat: no-repeat;
    background-position: top right 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    .hero-content-container {
      text-align: center;
      padding: 15px;
      padding-bottom: 20px;
      color: var(--old-gold);

      .hero-content {
        padding: 8px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.45);

        .tagline-container {
          margin-bottom: var(--size-6);

          .hero-title {
            font-size: var(--size-9);
            font-weight: bold;
            margin: 0;
            margin-bottom: var(--size-4);
          }

          .paragraph-styles {
            margin: 0;
            font-size: var(--size-5);

            .tagline {
              display: inline-block;
              margin: var(--size-1) 0;
              font-weight: bold;
              font-style: italic;
            }
          }
        }

        .cta-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: var(--size-4);
          margin-top: var(--size-4);

          .cta {
            display: inline-block;
            background-color: var(--tertiary-bg);
            color: var(--tertiary-fg);
            padding: var(--size-2);
            border: 2px solid var(--tertiary-bg);
            border-radius: var(--radius);

            &:hover {
              background-color: transparent;
              color: var(--tertiary-bg);
            }
          }
        }
      }
    }
  }
}


@media (--md-min) {
  /* @media (--standard-res) {
    .hero-image-container {
      background-image: url("/images/res-standard/hero-image-md-res-standard-1280x1280.webp");
    }
  }

  @media (--high-res) {
    .hero-image-container {
      background-image: url("/images/res-high/hero-image-md-res-high-2560x2560.webp");
    }
  } */

  .hero-image-container {
    background-image: url("/images/backgrounds/hero-image-md-res-standard-1280x1280.webp");
    background-position: top center;

    .hero-content-container {
      padding-bottom: 120px;

      .hero-content {

        .tagline-container {

          .hero-title {
            font-size: var(--size-12);
            margin-bottom: var(--size-5);
          }

          .paragraph-styles {
            font-size: var(--size-6);
          }
        }
      }
    }
  }
}


@media (--xl-min) {
  /* @media (--standard-res) {
    .hero-image-container {
      background-image: url("/images/res-standard/hero-image-xl-res-standard-2000x800.webp");
    }
  }

  @media (--high-res) {
    .hero-image-container {
      background-image: url("/images/res-high/hero-image-xl-res-high-4000x1600.webp");
    }
  } */

  .hero-image-container {
    /* The height of the hero image is 100vh - the height of the <header> element. */
    height: calc(100vh - 64px);
    background-image: url("/images/backgrounds/hero-image-xl-res-standard-2000x800.webp");
    flex-direction: row;
    align-items: flex-end;

    .hero-content-container {
      .hero-content {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
